<div [formGroup]="city">
  <input type="text" placeholder="Type city's name..." formControlName="name">
  <button (click)="error = false;filter()">Find</button>
</div>

<table >
  <tr>
  </tr>
</table>

<table *ngIf="!error">
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th></th>
  </tr>
  <tr *ngFor="let city of citiesFound">
    <td>    {{city.name}}
    </td>
    <td>    <img src ="{{city.photo}}"> <img>
    </td>
    <td>
      <button (click)="edit(city.id)">Edit</button>
    </td>
  </tr>
</table>

<div class="pagination">
  <a *ngFor="let page of pages" (click) = "filter(page)">{{page}} </a>
</div>
<p *ngIf="error">No cities found</p>
